<body>
    <form name="my">
        <input name="one" value="Male">
        <input name="two" value="Female">
        <input type="radio" name="age" value="10">
        <input type="radio" name="age" value="20">
        <fieldset name="userFields">
            <legend>info</legend>
            <input name="login" type="text">
        </fieldset>
        <select id="select">
            <option value="doctor">Doctor</option>
            <option value="nurse">Nurse</option>
            <option value="employee">Management</option>
        </select>

        <select id="select" multiple>
            <option value="dentist" selected>Dentist</option>
            <option value="cardiologist" selected>Cardiologist</option>
            <option value="nuerosurgoen">Nuerosurgoen</option>
            <option value="hr" selected>HR</option>
            <option value="nurse" selected>Nurse</option>
            <option value="ultratech">Ultrasound-tech</option>
        </select>
    </form>

    <script>
        let selected = Array.from(select.options)
            .filter(option => option.selected)
            .map(option => option.value);

    </script>
</body>