<nav>
  <button id = "logout" >Logout</button> 
</nav>
<div>
  <h2>Create Appointment</h2>
  <input type="text" id="basicDate" placeholder="Please select Date Time" data-input>
  <button id="confirmBtn" type="submit"class="btn btn-danger w-50 custom-b1">Confirm</button>
</div>
<h2>Week Number with Reset Date</h2>
<div class="resetDate">
  {{!-- <input type="text" placeholder="Select Date.." data-input> --}}
  <select id="dateSelect">
    {{#each appointments}}
    <option value ="{{id}}">
      {{date}}
    </option>
    {{/each}}
  </select>
  <button class="input-button" id ="resetBtn" title="clear" data-clear>RESET</button>
</div>
<script src="/js/logout.js"></script>
{{!-- <script src="/js/homepage.js"></script> --}}

