body {
  text-align: center;
  background: cornflowerblue;
  /* background-image: url('/public/photos/types-of-doctors-1600114658.jpg'); */
}
img {
  width: 500px;
  border-radius: 80px;
}
input {
  border: 2px solid whitesmoke;
  border-radius: 20px;
  padding: 12px 10px;
  text-align: center;
  width: 250px;
}
button {
  border: none;
  border-radius: 10px;
  padding: 12px 10px;
  text-align: center;
  cursor: pointer;
  background: coral;
  color: whitesmoke;
}

.flatpickr-calendar {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}